*, *::before, *::after {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ubuntu",sans-serif;
  font-size: .95rem;
  font-weight: 300;
  line-height: 1.8rem;
}

a {
  color: #000 !important;
  text-decoration: underline !important;  
}

/*ОБЛАСТЬ НАВИГАЦИИ*/

.logo {
  color: #fff !important;
  text-decoration: none !important;
}
a.nav-text	{	
  color: orange !important;
  font-size: 1.3rem !important;
  text-decoration: none !important;
  margin-left: 0.5rem;}

a.nav-text:hover {
  text-decoration: none !important;
  color: #fff !important;
}


.dropdown-item {  
  text-decoration: none !important;
}

.navbar-brand {
	font-size: 1.5rem !important;
}

.item-icon {
  flex: 1 0 155px;
}

.entry-title {
  margin-bottom: 50px;
  padding-top: 35px;
  line-height: 2rem;
}

.brd {
  border: 1px solid #000;
}

/*область аренды техники на главной странице*/

.arenda-area img:hover {
  opacity: 0.5
}

/*Заголовок разделов аренды техники*/


.title-text {
  display: flex;
}

.title-text h1 {
  margin: auto 0;
  font-size: 1.8rem;
}

.title-text-arenda h1 {
  margin: auto;
  font-size: 1.8rem;
}



/*область сервис на главной странице*/

.center-wrap {
  margin: 0 auto;
}

.block-service-text {
  margin: 0 auto;
  width: 700px;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: justify;
  color: #000 !important;
}

.block-service {
  margin-bottom: 50px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000 !important;
  text-decoration: underline;  
}

/*ПОДВАЛ*/

.prefooter {
  flex: 0 0 auto;
  background: #fdc43b;
}

.footer-phone-wrapper {
  /*background-image: url(img/phone-footer.png);*/
  background-repeat: no-repeat;
  /*padding: 15px 15px 15px 40px;*/
}

.footer-page-link-wrapper {
  padding-top: 15px;
}

.footer-page-link-item { 
  display: block;
}

.social-links-wrapper { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.social-link-item {
  display: inline;
}

.social-link-item img {
    width: 32px;
    height: 32px;
}

.prefooter-phones {
  display: block;
  padding-top: 50px;
  background: #fdc43b;
  height: 300px;
}

.footer {

}

.btn { 
text-align: left !important;
}

.iphone {
  position: relative;
  padding-top: 15px;
} 

.order-btn {  
  margin-top: 20px !important;
  background: #fdc43b;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none !important;
  width: 120px;
}

.order-btn a {  
  text-decoration: none !important;
}

.numbers {
  padding-left: 10px;
  font-weight: 700 !important;
  text-decoration: none !important
}

.title-wrap { 
  margin: 0 0 30px 0;
  background: linear-gradient(to right, #f4f4f4, #babbc0);
  height: 100px;
}


.description  {
  margin-top: 20px;
  margin-bottom: 80px;
}

.description-img img:hover {  
}

.discribe-title h1 {
  font-size: 1.2rem;
}

.bot-line {
  border-bottom: 1px dotted rgba(0,0,0,0.3);
}

.specifications-wrap li {
  padding-left: 0px;
  width: 100%;
  border-bottom: 1px dotted rgba(0,0,0,0.3);
  list-style-type: none;
}

.specifications-wrap ul {
  padding-left: 0;
}


.specifications-item-value {
  padding-left: 80px;
}


/*CONTACT PAGE*/

.contacts-flex {
   display: flex;
   height: 100%;
   width: 100%;
   justify-content: center;
}

.contacts-wrap-flex {
  display: flex;
  margin: 20px;
}

.phone-wrapper {
  padding-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 5px 0px;
}

.contats-item {
  display: flex;
  align-items: center;
}

.contats-item b {
  font-size: 21px;
  }

li.contacts-item-text {
  width: 180px;
  list-style-type: none; 
  text-decoration: none;

}

.email-text a {
 text-decoration: none;
}

.contacts-address { 
  padding: 30px;
  width: 350px;
  font-size: 1.3rem; 
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 5px 0px; 
}

/*УСЛУГИ*/

.table-wrap-flex {
  margin: 0 auto;
  width: 70%;
}

.item-table-name {
  font-size: 1.5rem;
  font-weight: 600 !important;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.table-item {
  margin-bottom: 50px;
}